.container {
    padding: 50px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exploreImage {
    background: url("../../images/beach.jpg");
    width: 100%;
    height: 300px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.exploreText {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.exploreText h1 {
    font-size: 30px;
    padding: 10px 0;
}

.exploreText p {
    font-size: 15px;
    color: #444;
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        padding: 50px 10%;
    }

    .exploreImage {
        width: 60%;
    }

    .exploreText {
        height: 300px;
        width: 40%;
        padding: 50px 5% 0 5%;
    }

    .exploreText h1{
        font-size: 25px;
        font-weight: 900;
    }
    
    .exploreText p {
        font-size: 15px;
    }
}