* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.container {
    text-align: center;
    width: 100%;
    padding: 20px;
}

.name {
    font-size: 30px;
    letter-spacing: 2px;
    margin: 5px;
    cursor: default;
}

.motto {
    color: #777;
    font-style: italic;
    font-size: 15px;
    margin: 5px;
    cursor: default;
}

.btn {
    font-size: 15px;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #243D85;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.options {
    color: #243D85;
}

.options h6 {
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

.icons {
    margin: 10px;
    cursor: pointer;
}

.icons i {
    margin: 0 10px;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    .btn {
        display: none;
    }

    .options {
        display: flex;
        justify-content: center;
    }

    .options h6:hover {
        color:  #172653;
    }

    .icons i:hover {
        color: #243D85;
        transition: linear .3s;
    }
}
