.container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 10% 3rem 10%;
    background-color: #0F0F0F;
    color: #fff;
}

.imageContainer {width: 100%;}
.imageContainer img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.textContainer {
    padding: 3rem .5rem;
}

.textContainer h1 {
    font-size: 3rem;
    font-weight: 900;
}

@media only screen and (min-width:768px) {
    .container {
        flex-direction: row;
        padding: 5rem 10%;
        justify-content: center;
        align-items: flex-start;
    }

    .imageContainer,
    .textContainer {
        width: 50%;
        padding: 0;
    }
    
    .textContainer h1 {
        white-space: nowrap;
        transform: translateX(-40%);
        margin: 1em 0 .5em;
    }

    .textContainer p {
        margin: 0 1.5em;
    }

  
}

@media only screen and (min-width:1024px) {
    .container {
        padding: 7rem 10%;
    }
    
    .textContainer h1 {
        font-size: 4rem;
    }

    .textContainer p {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width:1440px) {
    .container {
        padding: 9rem 10%;
    }
    
    .textContainer h1 {
        font-size: 5.5rem;
    }

    .textContainer p {
        font-size: 2rem;
    }
}

@media only screen and (min-width:1920px) {
    .container {
        padding: 11rem 10%;
    }
    
    .textContainer h1 {
        font-size: 7rem;
    }

    .textContainer p {
        font-size: 2rem;
    }
}



