.container {
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.discoverImage {
    height: 200px;
    background-image: url("../../images/taj-mahal.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.discoverText {
    color: #fff;
    padding: 35px;
}

.discoverText h1 {
    font-size: 25px;
}

.discoverText p {
    font-size: 15px;
    margin-top: 10px;
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row-reverse;
    }

    .discoverImage,
    .discoverText {
        height: 250px;
        width: 50%;
    }

    .discoverText {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}